.containerForm {
    background-color: var(--white);
    border-radius: 8px;
    padding: 1.5rem;
    margin-top: 1rem;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.containerForm img {
    width: 2.5rem
}

.containerForm > textarea {
    width: 32rem;
    height: 5rem;
    padding: 0.5rem;
    resize: none;
    font-size: 0.875rem;
    border: 1px solid var(--grayish-blue);
    border-radius: 8px;
}

.containerForm > button {
    padding: 0.5rem 1rem;
    width: 7rem;
    background-color: var(--moderate-blue);
    text-transform: uppercase;
    border: 0;
    border-radius: 8px;
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
}

.containerForm > button:hover {
    background-color: var(--light-grayish-blue);
}